/* header{
    display:  flex;
    text-decoration: none;

} */
li,
a,
button {
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;

}
.body{
    overflow: hidden;
}

.logo2 {
    margin-left: 950px;
    margin-bottom: -79px;

}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.nav-links {
    /* list-style: none; */
    color: grey;

}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 50px;
    color: grey;

}

button {
    color: white;
    padding: 9px 26px;
    background-color: #5184f9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.About h4 {
    font-size: x-large;
    font-size: 80px;
    padding: 160px;
    margin-bottom: 160px;
    color: #3B1303;
}

.About p {
    margin-top: -20%;
    margin-left: 11%;
    color: black;
    font-size: 20px;

}

.main-buttons {
    display: flex;
    /* border box; */

}

.btn-two {
    margin-left: 10%;


}

.btn-one {
    margin-left: 10%;

}

.numbers {
    margin-right: 50%;
    display: flex;
    margin-top: 10%;
    justify-content: center;







}

.Experience {
    margin-right: 180px;
}





.Agency {
    margin-right: 100px;


}

.projects {
    margin-right: 50px;
}

.icons {
    font-size: 30px;
    margin-left: 10%;
    margin-top: 60px;

}

.fa-instagram {
    background-color: orange;
    font-size: 50px;
    border: 5px orange;
    border-radius: 800px;
    color: black;


}

.fa-twitter {
    background-color: rgb(119, 168, 190);
    font-size: 50px;
    margin-left: 2%;
    border: 5px rgb(161, 198, 215);
    border-radius: 1000px;
    color: white;
}

.man {
    margin-left: 70%;
}

.About {

    margin-top: -40%;
}

.start {
    font-size: 40px;
}

.members {
    display: flex;
    margin-top: 20%;
    margin-left: -20%;
    text-align: center;

    text-align: center;


}

.member1 {
    margin-left: -100%;
}


.member3 {
    margin-left: 20%;
}

.member2 {
    margin-left: 20%;
}

.member4 {
    margin-left: 10%;
}

.Agency2 {
    text-align: center;
    font-size: 10px;
    font-size: 30px;
    padding-left: 10%;
    color: #3B1303;

}

.column {
    display: flex;
    margin-left: 9%;
    width: 80%;
    padding: 70px;
}

.col-1 {
    background-color: #F5F9FA;
    font-size: 20px;
    padding: 30px;
    /* margin-left: 100px; */

}

.col-1 i {
    background-color: blue;
    margin-left: 20px;
}

.col-1 h3 {
    padding: 10%;
}

.col-2 {
    background-color: #49A091;
    font-size: 20px;
    padding: 30px;
}

.col-2 i {
    background-color: white;
    color: #3B1303;
    margin-left: 20px;

}

.col-2 h3 {
    padding: 10%;
    color: white;
}

.col-3 {
    background-color: #EAF6FF;
    font-size: 20px;
    padding: 30px;

}

.col-3 i {
    color: white;
    background-color: yellow;
    margin-left: 60px;

}

.col-3 h3 {
    padding: 10%;
}

.cot {
    margin-bottom: 50px;
    margin-left: 300px;
}

.tyu {
    margin-left: -500px;
}

.how {
    margin-left: 1100px;
    margin-top: -550px;
}

.how h1 {
    color: #3B1303;

}

.how p {
    color: #5184F9;
    font-size: 25px;
}

.logo3 {
    margin-left: 230px;
    margin-bottom: -70px;


}

.solid {
    margin-left: 1090px;
    padding: 130px;
    margin-top: -90px;
    color: #3B1303;


    /* margin-bottom: 300%; */



}

.no-1 .one {
    background-color: #3B1303;
    color: black;
    border: solid 1px red;
    font-size: 70%;
    box-shadow: 10px 15px 10px 15px;

}

.no-1 h2 {
    margin-bottom: 20%;
    margin-left: 20%;
    /* box-shadow: 15px 20px 15px 20px; */


}

.fa-solid {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 20px;
    margin-left: -8%;
    margin-bottom: -10%;

}

.make {
    color: #3B1303;
    font-size: 20px;
    margin-left: 70%;
    float: right;
}

.no-1 {
    margin-left: -40%;
    height: 50%;

}

.no-1 h2 {
    margin-left: 8%;
    margin-top: -6%;
}

.fa-1 {
    border-radius: 50%;
    margin-top: -3%;
    background-color: #42A091;

}

.no-2 {
    margin-left: -40%;
    height: 50%;
    margin-bottom: 90px;

}

.no-2 h2 {
    margin-left: 8%;
    margin-top: -6%;
}

.fa-2 {
    border-radius: 50%;
    margin-top: -3%;
    background-color: #5184F9;

}

.no-3 {
    margin-left: -40%;
    height: 50%;

}

.no-3 h2 {
    margin-left: 8%;
    margin-top: -6%;
}

.fa-3 {
    border-radius: 50%;
    margin-top: -3%;
    background-color: #FCBE31;

}

.newsletter {
    text-align: center;
    margin-left: -10%;
    margin-right: -20%;
    /* padding: 300px; */
    /* margin-bottom: 230px; */
}

.newsletter h1 {
    font-size: 50px;



}


.newslatter p {
    font-family: sans-serif;
    padding: 30px;
    margin-top: -20px;
    color: #171C28;
}





.btn-2 {
    /* margin-left: -1.5%; */
    position: absolute;
    margin-top: 8px;
    border-radius: 10px;
    padding: 10px;
    width: 8%;
    margin-left: 50px;
    margin: bottom 8px;

}

input {
    width: 20%;
    border: none;
    padding: 20px;
    margin-right: -10%;
    margin-left: -10%;
    border-radius: 80px;
    background-color: #49A091;

}

::placeholder {
    color: white;
    font-size: 15px;
}

form .name {
    background-color: #f5e6e6;
    border-radius: 2px;

}

.message {
    background-color: #f5e6e6;
    border-radius: 2px;


}

form {
    margin-left: 10%;
    padding: 90px;

}

form h1 {
    font-size: 40px;
    padding: 40px;

}

form p {
    font-size: 20px;
    margin-left: 4%;
    color: #A5DCD4;
}

form h4 {
    margin-left: 4%;
    padding: 20px;

}

form input {
    margin-left: 4%;
    padding: 20px;
}

form .meso {
    height: 30%;
}

.sendsms {
    padding: 20px;
    margin-left: 5%;
    background-color: #49A091;
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: 15px 15px 20px #F3E1E7;

}

.cc {
    size: 20%;
    width: 20%;
    float: right;
    margin-top: -700px;
    margin-right: 180px;
}

.ur {
    /* float: right; */
    margin-top: -1000px;
    margin-left: 1250px;
    margin-bottom: 300px;
}

.ur2 {
    /* size: 160%; */
    /* width: 205px; */
    margin-left: 800px;
    margin-top: -1000px;
    margin-bottom: 500px;
}











.end {
    float: right;
    margin-top: -700px;
    margin-right: 150px;
    /* padding-bottom:3150px; 